
nav{
  
	position: fixed;
	/* margin: 270px auto 0; */
	margin-left: -9px;
	margin-top:5px;
	width: 100%;
	/* height: 50px; */
	background: #34495e;
	
	font-size: 0;
  
	
}
nav a{
   
	width: 100px;
  text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;

}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
  
  
	width: 100px;
	left: 0;
}
nav a:nth-child(2){
	width: 110px;
}
nav a:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px;
}
nav a:nth-child(4){
	width: 160px;
}
nav a:nth-child(4):hover~.animation{
width: 130px;
	left: 320px;
}
nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
}
nav a:nth-child(6){
	width: 200px;
}
nav a:nth-child(6):hover~.animation{
	width: 130px;
	left: 627px;
}
nav .hell:nth-child(7){
	width: 130px;
}
nav .hell:nth-child(7):hover~.animation{
	width: 130px;
	left: 780px;
}



.hoo:hover
{
	
	cursor: pointer;
	
	
}
.btt
  {
    margin-left: 10%;
    margin-top: 40px; 
    background-color: transparent;
    color: white;
    border: none;
	background-color: brown;
    height: 38px;
    width: 150px;
  }
  .btt:hover{
    color: brown;
   background-color: white;
   transition-duration: 1s;
    
   transition-timing-function: ease-in-out;
  }
  .mission
  {
    width: 20%;
    height: 20%;
    margin-top: 10%;
   
    text-align: center;
    border: solid darkblue;
    display:inline-block;
    border-radius: 10%;
    
  }
  
  .bt
  {
   
	
    margin-top: 10%; 
    background-color: transparent;
    color: white;
    border: none;
	background-color: brown;
    height: 38px;
    width: 59%;
  }
  .bt:hover{
    color: white;
   background-color: black;
   transition-duration: 1s;
    
   transition-timing-function: ease-in-out;}
  
  
 
 input[type=text],[type=password],[type=email],input[type=textarea]
 {
	width: 80%;
	margin-left: 4%;
	margin-top: 5%;
	display: inline-block;
	padding: 14px;
	border:solid black 1px;

 }
 .e:hover
 {
	
	box-shadow: brown 4px 4px;
 }
 .mis
 {
	width:90%;
	padding-top: 20%;
	padding-left: 5%;
	
 }
 /* .optional
 {
	background-color: transparent;
	color:black;
	border:1px solid black;
	font-size: 17px;
	margin-left: 20%;
	
 }
.optional
{width: 80px;
	margin: 0;
	color: black;
}
.optional ul
{
	life-style:none;
	margin-top: 2px;
}
.optional ul li{
	background-color: darkblue;
	width: 170px;
	border: 1px solid black ;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
	color: wheat;
	font-size:14px;
	position: relative;
}
/* Main part of dropdown  */
/* .optional ul ul{
	display: none;
}
.ooptional ul ul:hover >li{
	display: block;
} */ 

.hell
{
  color:white;
  margin-left: 50%;
  margin-top: -50.1px;
  background-color: #34495e;
  
}
	.he{
	  
	   display: none;
	   
	}
	.he:hover
	{
		background-color: #1abc9c;
		width: auto;
	}
	.hell:hover >.he
	{
		display: block;
		
		
		
		
	}